body {
    background-color: #F8F7FF;
    text-align: center; 
  }
  table, th, td {
    border: 1px solid gray;
    align: center;
    margin-left: auto;
    margin-right: auto;
  }
.cabbage{
    color: chartreuse
}